.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    background-color: blue;
    color: white;
}
.Paragraph{
    font-size: 2em;
    color: red;
}
.newclass{
    background-color: yellow;
}